.Container {
    display: flex;
    display: grid;
    justify-content: space-evenly;
}

.items {
    width: 70px;
    height: 40px;
    border: 1px solid black;
}

.con1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    background-color: silver;
    padding: 20px;
}

.grid {
    background-color: blue;
    color: white;
    border: 0.5px solid black;
    border-radius: 5px;
    text-align: center;


}